body{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif
}
h1{
    text-align: center;
}

/* CSS BORDER PROPERTIES EXAMPLE */

.container{
    display: grid;
    gap: 20px;
    margin-top: 30PX;
    text-align: center;
}
.top-border{
    border-top: 5px solid rgb(35, 35, 236);
    background-color: skyblue;
}
.bottom-border{
    border-bottom: 5px solid darkred;
    background-color: rgb(236, 147, 147);
}
.right-border{
    border-right: 5px solid rgb(35, 35, 236);
    background-color: skyblue;
}
.left-border{
    border-left: 5px solid darkred;
    background-color: rgb(236, 147, 147);
}

/* CSS PSEUDO CLASS */

.pseudo-class{
    height: 80px;
    background-color: rgb(226, 184, 238);
    color: rgb(0, 0, 0);
    margin: auto;
    line-height: 40px;
    font-size: large;
    height: auto;
    width: 250px;
    transition: background-color 0.3s ease, 
    color 0.3s,
    width 0.3s,
    font-size 0.15s;
}
.pseudo-class:hover{
    background-color: purple ;
    color: white;
    width: 300px;
    font-size: x-large;
    cursor: pointer;
}
/* CSS Anchor Pseudo Class Example */
.anchor-class{
    margin-top: 20px;
    width: 200px;
    height: 50px;
    text-align: center;
}
a:active{
    color: red;
}
a:visited{
    color: green;
}
a:link{
    color: blue;
}
