/* Box Model Full Width */
.box {
    width: 100%;              
    height: 90px;
    background-color: #b7dfe8;
    padding: 20px;            
    border: 2px solid black;  
    margin: 20px 0;          
    box-sizing: border-box;   
    text-align: center;
    font-size:25px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
}

.grid-item {
    background-color: #312edd;
    border: 1px solid black;
    padding: 15px;
    text-align: center;
    font-size: 25px;
    color: white;
}
/* list example */
.list-container{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    color: rgb(0, 134, 243);
    margin: auto;
    margin-left: 50px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
