/* Box Model Full Width */
.box {
    width: 100%;              
    height: 90px;
    background-color: #b7dfe8;
    padding: 20px;            
    border: 2px solid black;  
    margin: 20px 0;          
    box-sizing: border-box;   
    text-align: center;
    font-size:25px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
}

.grid-item {
    background-color: #312edd;
    border: 1px solid black;
    padding: 15px;
    text-align: center;
    font-size: 25px;
    color: white;
}
/* list example */
.list-container{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    color: rgb(0, 134, 243);
    margin: auto;
    margin-left: 50px;
}

header,nav,main,footer{
  padding: 10px;
  margin: 10px;
  background-color:rgb(205, 205, 248);
  color: black;
  font-size: larger;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
}

.card img{
  width:30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

.container {
  align-items: center;
  justify-content: center;
  padding: 2px 80px;
}

.menu { list-style: none; }
.menu li { position: relative; display: inline-block; }

.menu a {
  padding: 10px 15px;
  background: #333;
  color: #fff;
  text-decoration: none;
  display: block;
}

.dropdown {
  list-style: none;
  position: absolute;
  display: none;
  background: #333;
}

.menu li:hover .dropdown {
  display: block;
}

.loader{
  width:50px;
  height:50px;
  border: 6px solid #e0e0e0;
  border-top: 6px solid #3498db; 
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin{
  100%{transform: rotate(360deg);
  }
}

.pagination {
  display: inline-flex;
  gap: 5px;
  font-family: Arial, sans-serif;
}

.pagination a {
  padding: 8px 12px;
  text-decoration: none;
  color: #333;
  border: 1px solid #ddd;
}

.pagination a:hover {
  background: #333;
  color: #fff;
}

.pagination .active {
  background: #333;
  color: #fff;
  border-color: #333;
}

.flex-container {
  display: flex;
  gap: 10px;
  justify-content: center;   /* horizontal */
  align-items: center;       /* vertical */
}

.box {
  width: 80px;
  height: 80px;
  background: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1000px;   /* content width */
  margin: 40px auto;   /* center horizontally */
  padding: 20px;
  background: #f4f4f4;
  font-family: Arial, sans-serif;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: larger;
}

.tooltip-text {
  visibility: hidden;
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  background: #333;
  color: #fff;
  padding: 5px 8px;
  font-size: 12px;
  white-space: nowrap;
  border-radius: 4px;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

